.header {
  display: none;
  position: relative;
  .container {
    font-size: 0.875rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 25px 0;
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: white;
  }
}

.nav__item {
  margin-right: 10px;
  &:last-child {
    margin-right: 0px;
  }
}
/*  ::after {
    content: "";
    width: 100%;
    background-color: white;
  }
*/
